body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.wallpaper-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    /* 视口宽度 */
    height: 100vh;
    /* 视口高度 */
    object-fit: cover;
    /* 视频内容按比例缩放并覆盖整个元素 */
    z-index: -100;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.text-wrapper {
    position: absolute;
    left: 20%;
    /* 离页面最左边具有一定距离 */
    top: 40%;
    transform: translateY(-50%);
}

.text-line {
    font-size: 24px;
    /* 设置一个默认字体大小 */
    color: #fff;
    opacity: 0.9;
    left: 0;
    /* 左对齐 */
    margin: 10px 0;
    /* 添加上下间距 */
}

.text-1 {
    font-weight: bold;
    font-size: 80px;
    /* 字体更大 */
    color: #6b9fb0;
    /* 淡蓝色 */
    margin-bottom: 20px;
    /* 在第一行文字下方添加更大的间距 */
}

.text-2 {
    font-style: italic;
    font-size: 20px;
    /* 字体较小 */
    color: #fff;
    /* 白色 */
    -webkit-text-stroke: 1px black;
    /* 黑色描边 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* 黑色阴影 */
}

.login-container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 水平居中对齐子元素 */
}

/* 通用按钮样式 */
.btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
    overflow: hidden;
    font-size: 18px;
    /* 默认字体大小 */
    font-weight: bold;
}

/* 登录按钮样式 */
.btn-index {
    width: 200px;
    color: #fff;
    border: 2px solid #5bc0de;
    background-color: rgba(91, 192, 222, 0.2);
    opacity: 0.9;
}

.btn-index:hover {
    transform: scale(1.1);
    background-color: #5bc0de;
    border-color: #5bc0de;
    opacity: 1;
    text-align: center;
    /* 居中文本 */
}

.btn-index i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.3s ease;
    opacity: 0;
    color: #ffffff;
    right: 20px;
}

.btn-index:hover i {
    opacity: 1;
}

/* 登录按钮样式 */

.btn-login {
    width: 200px;
    color: #000;
    background-color: rgba(12, 132, 187, 0.2);
    /* 初始半透明背景色 */
    opacity: 0.9;
    /* 初始不透明度 */
    text-align: center;
    transition: background-color 0.3s, opacity 0.3s;
    /* 平滑过渡背景色和不透明度 */
    border: none;
    /* 初始无边框 */
    padding: 10px 20px;
    /* 内边距 */
    font-size: 18px;
    /* 字体大小 */
    font-weight: bold;
    /* 字体加粗 */
    cursor: pointer;
    /* 鼠标悬停时显示指针 */
    position: relative;
    /* 相对定位 */
    overflow: hidden;
    /* 内容溢出隐藏 */
}

.btn-login:hover {
    transform: scale(1.1);
    /* 鼠标悬停时放大 */
    background-color: rgba(91, 192, 222, 0.5);
    /* 鼠标悬停时更深的蓝色，半透明 */
    opacity: 0.9;
    /* 鼠标悬停时保持不透明度 */
}

.btn-login i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease;
    opacity: 0;
    color: #ffffff;
}

.btn-login:hover i {
    opacity: 0.5;
    /* 鼠标悬停时图标显示 */
}


.row {
    width: 100%;
}

.col-6 {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.date-time {
    position: absolute;
    /* 相对于最近的相对定位的祖先元素定位 */
    top: -10px;
    /* 向上移动50像素 */
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: rgba(255, 255, 255, 0.01);
    /* 低透明度背景 */
    padding: 10px;
    font-size: 60px;
    border-radius: 5px;
    z-index: 1000;
    font-weight: bold;
    transition: border 0.3s;
    /* 平滑过渡效果 */
    border: 2px solid transparent;
    /* 初始化边框为透明 */
}

.date-time:hover {
    border: 2px solid rgba(255, 255, 255, 0.5);
    /* 鼠标悬停时的边框颜色 */
}

.highlight {
    border-color: #5bc0de;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(91, 192, 222, .6);
}

.error-message {
    color: red;
    text-align: center;
}

/* register */
.register-container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 水平居中对齐子元素 */
}

.date-time-register {
    position: absolute;
    /* 相对于最近的相对定位的祖先元素定位 */
    top: -10px;
    /* 向上移动50像素 */
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: rgba(255, 255, 255, 0.01);
    /* 低透明度背景 */
    padding: 10px;
    font-size: 60px;
    border-radius: 5px;
    z-index: 1000;
    font-weight: bold;
    transition: border 0.3s;
    /* 平滑过渡效果 */
    border: 2px solid transparent;
    /* 初始化边框为透明 */
}

.date-time-register:hover {
    border: 2px solid rgba(255, 255, 255, 0.5);
    /* 鼠标悬停时的边框颜色 */
}

.alert-danger {
    margin-top: 10px;
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.bold-text {
    font-weight: bold;
}

.spaced-link {
    margin-right: 50px;
    /* 修改为你需要的间隔 */
}